[fogbugz]
base_url = YOUR_FOGBUGZ_URL
token = YOUR_FOGBUGZ_TOKEN

[confluence]
base_url = YOUR_CONFLUENCE_URL
api_token = YOUR_CONFLUENCE_API_TOKEN
space_key = YOUR_CONFLUENCE_SPACE_KEY

[migration]
download_dir = downloads